{% extends 'partials/base.html.twig' %}
{% block header_navigation %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<button class="btn btn-default" onclick="window.history.back()">
					<i class="fa fa-arrow-left"></i> Zurück
				</button>
				<h1>{{ page.header.title }} ({{ page.header.year }})</h1>
			</div>
        </div>
	    <div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				{{ page.content|raw }}
			</div>
			<div class="col-lg-3"></div>
	    </div>
        </div>
        {% if page.header.external_links %}
	    <div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 text-center">
				<h4>Links</h4>
				{% for link in page.header.external_links %}
					<p>
						<a href="{{ link.url }}" target="_blank">
							{% if link.icon|default(null) %}
								<i class="fa-brands fa-{{link.icon}}"></i>
							{% endif %}
							<b>{{ link.title }}</b>
						</a>
					</p>
				{% endfor %}
			</div>
			<div class="col-lg-3"></div>
		{% endif %}
	    </div>
	    <div class="row">
			<div class="col-lg-12 text-center laurel-gallery">
				{% for laurel in page.header.laurels %}
					<img src="{{ page.media[laurel.img].url }}" title="{{ laurel.title }}">
				{% endfor %}
			</div>
	    </div>
    </div>
{% endblock %}
